
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

.tribute-button-web{
    visibility: hidden;
}

#tribute-info-web{
    visibility: hidden;
}

#title {
    font-family: 'Arima Madurai', cursive;
    text-align:center;
    font-size: 30.0pt;
    margin-top: 1.0em;
}

#img-div {
  text-align:center;
}

#image {

    width: 30vmax;
    height:35vmax;
    border-radius:50%;
}


.main-section{
    display: none;
}
#img-caption {
    
    width: 45vmax;
    background-color:#5F5179;
    margin: 0 auto;
    margin-top: 4%;
    padding: 0.2pc;
    -webkit-box-shadow: 0px 14px 14px -2px rgba(0,0,0,0.65); 
box-shadow: 0px 14px 14px -2px rgba(0,0,0,0.65);
    
}

.img-icon{
    display: none;
}


/* I need to add an breakpoint for #img-caption and .caption-text */

.caption-text{
    color:#fff;
    font-size: 1.1em;
    

}

.tribute-info{

    margin-top: 2rem;
    display:flex;
    justify-content: center;
}

#tribute-button{
    margin: 0.5em;
}

/*These two classes (Topic-are and Topic-name) are for the web version
    and is required to be set to display:none; */
.topic-area{
    display:none;
   

   }

   .topic-name{
    display:none;

   }
   aside{
       display: none;
   }
    
}
/*
    Adding a section for responsive web design for larger screens :
    For example: Laptops and Tablets

*/


/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 800px) and (max-device-width: 2000px) {
    /* Styles */
    

    #title {
        font-family: 'Arima Madurai', cursive;
        font-size: 4.5em;
        margin-left:0.2em;
        text-align:center;
        position:relative;
    }
    
    #img-div {
      text-align:left;
      margin-left: 0.4em;
    position:relative;
    display:flex;
     
    }
    
    #image {
        width: 30vmax;
        height:35vmax;
        position: absolute;


    }
    
   
    .img-icon{
        animation-name: fadeIn;
        margin-left: 70px;
        display: flex;
        
    }   

    #topic-area {
    width: 65vmax;
    list-style: none;
    margin-top: 3.5em;

    
    }

   #topic-area li{
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;
   }

   .topic-name{
       font-size: 18.0pt;
    margin-bottom:20px;

   }

   
   .name{
    text-align:center;

   }


    .img-icon:hover {
        animation-name:shake;
        animation-duration: 3s;
        animation-delay: 0.3s;
        animation-iteration-count: infinite;
    }


    #img-caption {
       display:none ; 
        width: 45vmax;
        background-color:#5F5179;
        margin: 0 auto;
        margin-top: 4%;
        padding: 0.2pc;
        -webkit-box-shadow: 0px 14px 14px -2px rgba(0,0,0,0.65); 
    box-shadow: 0px 14px 14px -2px rgba(0,0,0,0.65);
        
    }
    
    
    /* I need to add an breakpoint for #img-caption and .caption-text */
    
    .caption-text{
        color:#fff;
        font-size: 1.1em;
        
    
    }
    
    /* The tribute-info and tribute-button is for mobile 
        so thats why they are on display:none */
    .tribute-info{
        display: none;
    }
    
    #tribute-button{
        display: none;
    }


   aside {
    margin-top:35%;
    height: 8vmax;
    width: 30vmax;    
    position: relative;
   }

   .social-icon{
    margin-top: 2vmax;
    height:7vmax;
    width:5.5vmax;
    display: inline-flex;
    margin:auto;
    margin-left:2vmax;

}

   a {
    cursor: pointer;
    text-decoration: none;
    color: black;
   }

   a:hover{
       text-decoration:none;
       color: black;
   }
}
